<!DOCTYPE html>
 {% block head %}
<head>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block metaTitle %}{% endblock %}</title>
    <!-- CSS Files -->
    <link href="/bundles/maallsadmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bundles/maallsadmin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/bundles/maallsadmin/css/animate.css" rel="stylesheet">
    <link href="/bundles/maallsadmin/css/style.css" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

</head>
{% endblock %}

{% block body %}
<body>


</body>
{% endblock %}