{% extends 'MaallsAdminBundle::head.html.twig' %}
{% block body %}
    <body class="gray-bg">

        <div class="middle-box text-center animated fadeInDown">
        
            <h3 class="font-bold">This site is currently under maintenance.</h3>

        </div>

    </body>
{% endblock %}